<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="src/styles/main.css">
    <title>Typescript</title>
  </head>
  <body>
    <h2>Race</h2>
    <div>
      <h4>Set user info</h4>
      <div class='field'>
        <span>Name:</span>
        <input type='text' id='name'/>
      </div>
      <div class='field'>
        <span>Speed:</span>
        <input type='text' id='speed'/>
      </div>
      <button id='challenge'>Challenge</button>
    </div>
    <div class='race'>
      <h4>Track</h4>
      <div id='track'>
        <div class='user'>
          <div id='user-info'></div>
          <img id='motorcycle' src='src/resources/motorcycle.png'/>
        </div>
        <hr />
      </div>
      <button id='start'>Start</button>
      <button id='reset'>Reset</button>
    </div>
  </body>
</html>